.u-section-1 .u-sheet-1 {
  min-height: 604px;
}

.u-section-1 .u-image-1 {
  width: 471px;
  height: 238px;
  margin: 29px auto 0;
}

.u-section-1 .u-social-icons-1 {
  height: 34px;
  min-height: 16px;
  width: 89px;
  min-width: 53px;
  white-space: nowrap;
  margin: -5px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-text-1 {
  font-size: 1.375rem;
  letter-spacing: 2px;
  font-family: Convergence;
  font-weight: normal;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  letter-spacing: 2px;
  line-height: 2.2;
  font-family: Convergence;
  font-weight: normal;
  margin: 41px 282px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-family: Convergence;
  font-weight: normal;
  margin: 43px 440px 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-family: Convergence;
  font-weight: normal;
  margin: 14px 433px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 6px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -15px;
    margin-left: 421px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: 576px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 33px;
    margin-left: 340px;
    margin-right: 340px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin: 6px 311px 55px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-1 .u-image-1 {
    width: 483px;
    height: 244px;
    margin-top: 41px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 316px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 4px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 33px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 44px;
    margin-left: 230px;
    margin-right: 230px;
  }

  .u-section-1 .u-text-4 {
    margin: 9px 201px 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-1 .u-image-1 {
    width: 415px;
    height: 210px;
    margin-top: 20px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -5px;
    margin-left: 222px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 3px;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-top: 31px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 40px;
    margin-left: 120px;
    margin-right: 120px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 0;
    margin-left: 111px;
    margin-right: 111px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-1 .u-image-1 {
    height: 172px;
    margin-top: 22px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-social-icons-1 {
    height: 28px;
    width: 77px;
    margin-top: 17px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: 148px;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 22px;
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.375rem;
    margin-top: 48px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.375rem;
    margin-left: 0;
    margin-right: 0;
  }
}